img {
  width: 20%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.home, .myList, .beenBrewed{
  text-decoration: none;
  color:blue
}
.home:hover, .myList:hover, .beenBrewed:hover {
  text-decoration: underline;
}

.home, .myList, .beenBrewed:visited{
  text-decoration: none;
  color:blueviolet;
  
}
.ingList{
  display: grid;
  grid-template-columns: 15rem 15rem;
  grid-gap: .5rem;
  

}
.malts{
  list-style: none ;

}


.image{
  text-align: center;
}

.beer{  
  text-align: left;
  display: grid;
  grid-template-columns: 15rem 35rem 20rem;
  grid-gap: 1rem;
  border-style:groove;
}

.navbar{
  text-align: center;
}

.myBeerList{  
  text-align: left;
  display: grid;
  grid-template-columns: 15rem 35rem 30rem;
  grid-gap: 1rem;
  border-style:groove;
} 


.App-header {
  background-color: #464950;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
